@model List<Models.RechercheVM>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Saisie</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Value</td>
            <td>@item.DateRecherche</td>
            
        </tr>
        }
       
    </tbody>
</table>

<a asp-controller="Home" asp-action="Index" style="padding:8px; color:white; background-color:dodgerblue; border:1px solid dodgerblue; border-radius: 25px;">Retourner à l'accueil</a>